@media (max-width: 1024px) {
	section.sidebar {
		width: 100%;
	}

	section.main {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.playlist {
		width: 45%;
	}

	footer {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}

@media (max-width: 480px) {
	.playlist {
		width: 100%;
	}
	
	.playlist-heading {
		font-size: var(--heading-sm);
	}

	footer .song-name {
		font-size: var(--text-sm);
	}
}
